<h1>My things</h1>

<span ng-if="things.length === 0">
<p>
    You don't have any things yet…
    <a href="/#/new">Add one!</a>
</p>
</span>
<div ng-if="things.length !== 0">
    <div class="form-group col-xs-5">
        <label>Filter</label>
        <input type="text" class="form-control" placeholder="Location, name, ..." ng-model="thingsFilter"/>
    </div>
    <form ng-submit="saveThing()">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Image</th>
                <th></th>
            </tr>
            <tr>
                <td><input type="text" class="form-control" placeholder="Name" ng-model="newThing.name"
                           ng-required="true"/>
                </td>
                <td><input type="text" class="form-control" placeholder="Location" ng-model="newThing.location"/></td>
                <td><input type="text" class="form-control" placeholder="Image URL" ng-model="newThing.imageUrl"/></td>
                <td>
                    <button type="submit" class="btn btn-primary">Quick add</button>
                </td>
            </tr>
            <tr ng-repeat="thing in things | filter: thingsFilter">
                <td><a href="/#/{{thing._id}}">{{thing.name}}</a></td>
                <td>{{thing.location}}</td>
                <td class="col-xs-2">
                    <a href="/#/{{thing._id}}">
                        <img ng-src="{{thing.imageUrl}}" class="img-circle col-lg-5 col-md-7 col-col-sm-8 col-xs-8"/>
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger" ng-click="removeThing(thing._id)">Remove</a>
                </td>
            </tr>
        </table>
    </form>
</div>
