<!doctype html>
<html lang="en" ng-app="thingz">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body ng-controller="ApplicationController">
<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav" ng-if="currentUser">
            <li class="nav navbar-nav"><a href="/#/">My things</a></li>
            <li class="nav navbar-nav"><a href="/#/new">New thing</a></li>
            <li class="nav navbar-nav"><a href="/#/locations">My locations</a></li>
        </ul>

        <a class="navbar-text navbar-right" href="/#/login" ng-if="!currentUser">Log in</a>
        <a class="navbar-text navbar-right" href="/#/register" ng-if="!currentUser">Register</a>
        <a class="navbar-text navbar-right" ng-click="logout()" ng-if="currentUser">log out</a>

        <p class="navbar-text navbar-right" ng-if="currentUser">{{currentUser.username || 'what'}}</p>
    </div>
</nav>
<div class="container" ng-view></div>
<script src="node_modules/lodash/index.js"></script>
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-route/angular-route.min.js"></script>
<script src="node_modules/angular-resource/angular-resource.min.js"></script>
<script src="/app.js"></script>
</body>
</html>
